#pre-process
datasets
sentencepiece

# core
torch
lightning
wandb
omegaconf

# # For de-duplication
# sentence-transformers
# faiss-cpu

# #Optional
# transformers
# tokenizer
# peft
# bitsandbytes
# # ---
# numpy
# pandas
# matplotlib
# seaborn
ollama
pre-commit
